<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "ユーザー" %>
    <%= form.number_field :user_code %>
  </div>

  <div class="field">
    <%= form.label "カテゴリ" %>
    <%= form.text_field :category %>
    <%= form.select :question_code, Question.all.map { |q| [q.category, q.id] } %>
  </div>

  <div class="field">
    <%= form.label "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "内容" %>
    <%= form.text_field :contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
