<p id="notice"><%= notice %></p>

<center>
  <div class="questions_show_header">
    <center>
      <div style="font-size:50px; padding:30px;">
        <span class="maru_waku">しつもんひろば</span>
      </div>
    </center>
  </div>

  <div class="">
    <div class='fixed_btn_r'>
      <%= button_to '質問をする', {controller: 'questions', action: 'new'}, {method: :get } %>
    </div>
  </p>

  <%= form_tag('/questions_search') do %>
    <br>
    カテゴリ：<%= select_tag 'search[category]', options_for_select(QuestionCategory.all.map { |q| [q.category_name] }, ), include_blank: true %>
    表示件数：<%= select_tag 'search[view_count]', options_for_select([["すべて",""],["5",5],["10",10],["50",50]]) %><%= submit_tag '検索' %>
    </p><br><br>
  <% end %>

    <p>
      <% @questions.each do |question| %>
        <p>
          <%= question.user_code %>
          <span class="titel_font"><%= link_to question.title, question %></span>
          <%= question.category %><br><br>
        </p>
      <% end %>
    </p>
  
</center>

<p><div class="fixed_btn_l"><%= button_to 'ホームに戻る','/home/top', method: :get %></div></p>
