<p id="notice"><%= notice %></p>

<center>
<div style="font-size:50px;"><span class="maru_waku">しつもんひろば</span></div>

  <%= form_tag('/questions_search') do %>
    <p>
    カテゴリー別に検索できます
    <br>
    <%= select_tag 'search[category]', options_for_select(QuestionCategory.all.map { |q| [q.category_name] }, ), include_blank: true %><%= submit_tag '検索' %>
    </p>
  <% end %>
  <p>
    <div class='fixed_btn'>
      <%= button_to '質問をする', {controller: 'questions', action: 'new'}, {method: :get } %>
    </div><br>
  </p>
  

<p>
      <% @questions.each do |question| %>
        <div class="titel_font">
          <%= question.user_code %>
          <%= link_to question.title, question %>
          <%= question.category %><br>
        </div>
      <% end %>
</p>
  
</center>

<p><%= button_to 'ホームに戻る','/home/top', method: :get %></p>

<br>


