<p id="notice"><%= notice %></p>

<center>
  <h1>しつもんひろば</h1><br>
  <%= form_tag('/questions_search') do %>
    <p>
    カテゴリー別に検索できます
    <br>
    <%= select_tag 'search[category]', options_for_select(QuestionCategory.all.map { |q| [q.category_name] }, ), include_blank: true %><%= submit_tag '検索' %>
    </p>
  <% end %>
  <p><%= button_to '質問をする', {controller: 'questions', action: 'new'}, {method: :get} %><br></p>
  

<p>
  <table border="1">
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>タイトル</th>
        <th>カテゴリ</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.user_code %></td>
          <td><%= link_to question.title, question %></td>
          <td><%= question.category %></td>
          <td><%= link_to '編集', edit_question_path(question) %></td>
          <td><%= link_to '削除', question, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
</center>

<br>


