<center>
<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @question.user_code %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @question.contents %>
</p>

<div  class="fixed_btn">
  <p><b>コメントを追加する</b></p>
  <%= form_tag('/question_reviews') do %>
    <%= hidden_field :contents, :question_code, :value => @question.id %>
    <p>
    <%= text_field :contents, :contents %>
    <%= submit_tag "　追　　加　" %>
    </p>
  <% end %>
</div>
</center>

<p><b>ベストアンサー</b></p>

<p><b>コメント</b></p>

<% @question_reviews.each do |q| %>
    <p>
      <%= q.created_at %>
    <br>
      <%= link_to q.contents, q %>
    </p>
<% end %>

<%= link_to 'しつもんひろばへ戻る', questions_path %><br>

<a href = 'http://localhost:3000/question_reviews/new'>質問に回答する</a>

