<center>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>сЃдсЃ╝сѓХсЃ╝ID:</strong>
    <%= @question.user_code %>
  </p>

  <p>
    <strong>сѓФсЃєсѓ┤сЃф:</strong>
    <%= @question.category %>
  </p>

  <p>
    <strong>сѓ┐сѓцсЃѕсЃФ:</strong>
    <%= @question.title %>
  </p>

  <p>
    <strong>тєЁт«╣:</strong>
    <%= @question.contents %>
  </p>

  <div  class="fixed_btn">
    <p><b>сѓ│сЃАсЃ│сЃѕсѓњУ┐йтіасЂЎсѓІ</b></p>
    <%= form_tag('/question_reviews') do %>
      <%= hidden_field :contents, :question_code, :value => @question.id %>
      <p>
        <%= text_field :contents, :contents %>
        <%= submit_tag "сђђУ┐йсђђсђђтіасђђ" %>
      </p>
    <% end %>
  </div>
</center>

<p><b>сЃЎсѓ╣сЃѕсѓбсЃ│сѓхсЃ╝</b></p>

<p><b>сѓ│сЃАсЃ│сЃѕ</b></p>
<% @question_reviews.each do |q| %>
    <p>
      <%= q.created_at %>
    <br>
      <%= q.contents %>
    <br>
      <% if session[:login_id] == @question.user_code %>
        <%= form_tag('/questions_best_answer') do %>
        сђђ<%= hidden_field :question_reviews, :id, :value => q.id %>
          <%= submit_tag "­ЪЉЇ", class: "button_white" %>
        <% end %>
      <% end %>
    </p>
<% end %>

<p><%= button_to 'сЂЌсЂцсѓѓсѓЊсЂ▓сѓЇсЂ░сЂИТѕ╗сѓІ', '/questions', method: :get %></p>

