<div class="questions_show_header">
  <center>
    <div style="font-size:50px; padding:30px;">
      <span class="maru_waku">しつもんひろば</span>
    </div>
  </center>
</div>

<div class="questions_show_body">
<center>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>ユーザーID:</strong>
    <%= @question.user_code %>
  </p>

  <p>
    <u><h3><%= @question.title %></h3></u>
  </p>

  <p>
    <div class = "sikaku_waku">
      <%= @question.contents %>
    </div>
  </p>

  <p>
    <div style="margin-top: 50px;">
      <b>ベストアンサー</b>
    </div>
  </p>

    <% if @question_best_review.present? %>
      <div class="b_sikaku">
        <span class="c_size"><%= @question_best_review.contents %></span>
      </div>
    <% end %>
  <br>

  <p><b>コメント</b></p>
  
</center>

  <% @question_reviews.each do |q| %>
    <%= q.created_at.strftime("%Y年%m月%d日%H時%M分") %>
    <div class="comment_waku">
      <span class="c_size"><%= q.contents %></span>
    </div>
    
    <br>

    <% if session[:login_id] == @question.user_code && @question_best_review.present? %>

    <% elsif session[:login_id] == @question.user_code %>
      <%= form_tag('/questions_best_answer') do %>
        <%= hidden_field :question_reviews, :id, :value => q.id %>
        <%= hidden_field_tag :id, @question.id %>
        <%= submit_tag "👍", class: "button_white" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<footer class="questions_show_footer"></footer>

<div  class="fixed_btn">
    <%= form_tag('/question_reviews') do %>
      <%= hidden_field :contents, :question_code, :value => @question.id %>
        <%= text_field :contents, :contents, :class => 'contents_size' %>
        <%= submit_tag "　追　　加　" %>
    <% end %>
</div>

<p><div class="fixed_btn_l_2"><%= button_to 'しつもんひろばへ戻る', '/questions', method: :get %></div></p>

<p><div class="fixed_btn_l"><%= button_to 'ホームに戻る','/home/top', method: :get %></div></p>