<center>
<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @question.user_code %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @question.contents %>
</p>

<p><b>コメント</b></p>
<%= form_tag('contents') do %>
  <%= hidden_field :content, :question_code, :value => @question_code %>
  <p>
  <%= text_field :content, :content %>
  <%= submit_tag "コメント追加" %>
  </p>
<% end %>

<% @question_reviews.each do |q| %>
  <p>
  <%= q.created_at %>
  <br>
  <%= q.contents %>
  </p>
<% end %>

<%= link_to 'しつもんひろばへ戻る', questions_path %><br>

<a href = 'http://localhost:3000/question_reviews/new'>質問に回答する</a>
</center>
