<%= form_with(model: book_review) do |form| %>
  <% if book_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_review.errors.count, "error") %> prohibited this book_review from being saved:</h2>

      <ul>
        <% book_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "本のid" %>
    <%= form.number_field :book_id %>
  </div>

  <div class="field">
    <%= form.label "ユーザーのid" %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label "レビュー" %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label "good数" %>
    <%= form.number_field :good %>
  </div>

  <div class="field">
    <%= form.label "承認" %>
    <%= form.check_box :flag %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
