<%= form_with(model: book_review) do |form| %>
  <% if book_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_review.errors.count, "error") %> prohibited this book_review from being saved:</h2>

      <ul>
        <% book_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :book_id, :value => @book_review.book_id %>

  </div>
  <div class="field">
    <%= form.label "書籍名" %>
    <%= @book_title %>
  </div>

   <div class="field">
    <%= form.label "著者名" %>
    <%= @book_author_name %>
  </div>

  <div class="field">
<<<<<<< HEAD
    <%= form.label "ユーザーID" %>
    <%= form.number_field :user_id, readonly: true, style: "background-color: silver" %>   
  </div>
=======
    <%= form.hidden_field :user_id, :value => @book_review.user_id %>  
  </div> 
>>>>>>> bf86931019edfc2d624227cb26de2ab05cfda946

  <div class="field">
    <%= form.label "レビュー" %>
    <%= form.text_area :comment, size: "18x10" %>
  </div> 
  <th>レビューは50文字以上書いてください</th>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
