<%= form_with(model: point) do |form| %>
  <% if point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "") %> つ未入力があります:</h2>

      <ul>
        <% point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, readonly: true, style: "background-color: silver" %>
  </div>

  <div class="field">
    <%= form.label :増減 %>
    <%= form.number_field :fluctuation %>
  </div>

  <div class="field">
    <%= form.label :概要 %>
    <%= form.text_field :summary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
