<p id="notice"><%= notice %></p>

<center>
<h1 class="font2">ポイント状況一覧</h1>
<h2><%=session[:login_user_acount] %>の現在のポイント数：<%= session[:login_user_point] %></h2>

<table border = "1" class="rei">
  <thead>
    
    <tr>
      <th>日付</th>
      <th>概要</th>
      <th>増減ポイント数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= point.summary %></td>
        <td class="right2"><%= point.fluctuation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @points %>
</center>
<br>
<p><%= button_to 'ホームに戻る','/home/top', method: :get %></p>
