<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @point.user_id %>
</p>

<p>
  <strong>Fluctuation:</strong>
  <%= @point.fluctuation %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @point.summary %>
</p>

<%= button_to '戻る','/users', method: :get %>
