<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @point.user_id %>
</p>

<p>
  <strong>ポイント増減数:</strong>
  <%= @point.fluctuation %>
</p>

<p>
  <strong>概要:</strong>
  <%= @point.summary %>
</p>

<%= button_to '戻る','/users', method: :get %>
