<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>

<%= form_tag('/users_search') do %>
  <p>
  アカウント
  <br>
  <%= text_field_tag 'search[user_id]' %><%= submit_tag '検索' %>
  </p>
<% end %>

<table border = "1">
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>アカウント名</th>
      <th>権限</th>
      <th>ポイント数</th>
      <th>パスワード</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.user_acount %></td>
        <td><%= user.authority %></td>
        <td><%= user.point %></td>
        <td><%= user.password %></td>
        <td><%= link_to '詳細', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: 'ユーザーを削除しますか?' } %></td>
        <td><%= link_to 'ポイント増減', new_point_path(user_id: user.user_id,user_point: user.point,user_acount: user.user_acount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ユーザーの登録', new_user_path %>
<p><%= link_to '管理者画面へ', home_kanri_path %></p>
