<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>アカウント名:</strong>
  <%= @user.user_acount %>
</p>

<p>
  <strong>権限:</strong>
  <%= @user.authority %>
</p>

<p>
  <strong>ポイント数:</strong>
  <%= @user.point %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
