<p id="notice"><%= notice %></p>

<table border="1">
  <thead>
    <tr>
      <th>書籍名</th>
      <th>著者名</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author_name %></td>
        <td><%= link_to '詳細', book %></td>
        <td><%= link_to '編集', edit_book_path(book) %></td>
        <td><%= link_to '承認', controller: "home", action: "approval_book" %></td>
        <td><%= form_tag({ :controller => 'home', :action => 'approval_book' },
        { :method => :post}) do %>
            <%= submit_tag '承認' %>
        <% end %></td>
        <td><%= link_to '拒否', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= form_tag(book, method: :delete, data: { confirm: 'Are you sure?' }) do %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', home_kanri_path %>
