<p id="notice"><%= notice %></p>

<h1 class="font5">本のレビューの承認・拒否</h1>

<table border=1 class="rei1">
  <thead>
    <tr>
      <th>本のid</th>
      <th>ユーザー名</th>
      <th>comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_reviews.each do |book_review| %>
      <tr>
        <td><%= book_review.book_id %></td>
        <td><%= book_review.user_id %></td>
        <td><%= book_review.comment %></td>
        <td><%= form_tag({ :controller => 'home', :action => 'approval_book_review' },
        { :method => :post}) do %>
          <%= hidden_field :book_reviews_id, :id, :value => book_review.id %>
          <%= submit_tag '承認' %>
        <% end %></td>
        <td><%= form_tag(book_review, method: :delete, data: { confirm: 'レビューを拒否しますか？' }) do %>
          <%= submit_tag '拒否' %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><div class="button"><%= button_to '管理者画面へ戻る','/home/kanri', method: :get %></div></p>
