<p id="notice"><%= notice %></p>
<h1>本の新規追加の承認・拒否</h1>

<table border="1">
  <thead>
    <tr>
      <th>書籍名</th>
      <th>著者名</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author_name %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to '詳細', book %></td>
        <td><%= link_to '編集', edit_book_path(book) %></td>
        <td><%= form_tag({ :controller => 'home', :action => 'approval_book' },
        { :method => :post}) do %>
          <%= hidden_field :book_id, :id, :value => book.id %>
          <%= submit_tag '承認' %>
        <% end %></td>
        <td><%= form_tag(book, method: :delete, data: { confirm: '本の追加を拒否しますか?' }) do %>
          <%= submit_tag '拒否' %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', home_kanri_path %>
