<center>
<h2>ホーム画面</h2>
<% if session[:authority]==1 %>
  <%= link_to '管理者画面', home_kanri_path %>
<% end %>
<%= link_to 'ポイント状況', points_path %>
<p>
<%= link_to '本の一覧', books_path %> <%= link_to '質問広場', questions_path %>
<p>
<h2><%=session[:login_user_acount] %>の現在のポイント数：<%= session[:login_user_point] %></h2>
</center>
