<h1>ホーム画面</h1>
<% if session[:authority]==1 %>
  <%= link_to '管理者画面', home_kanri_path %>
<% end %>
<%= link_to 'ポイント状況', points_path %>
<%= link_to '図書レビュー', book_reviews_path %>
<%= link_to '質問広場', questions_path %>
<p>  <h2><%=session[:login_user_acount] %>の現在のポイント数：<%= session[:login_user_point] %></h2>
<h2></h2>

