<center>
 <h1 class="font">ホーム画面</h1>
 <div class="top">
   <% if session[:authority]==1 %>
     <div class="kanrig"><%= image_tag 'kanri.png', class: "book_img" %>
       <%= link_to '管理者画面', home_kanri_path %>
     </div>
   <% end %>
 </div>
 <div class="top2"> 
    <%= image_tag 'point.png', class: "book_img" %>
    <div class="pointj">
     <%= link_to 'ポイント状況', points_path %>
    </div>
   <p class="top3"><%= image_tag 'book.png', class: "book_img" %>
   <div class="booki">
     <%= link_to '本の一覧', books_path %></p>
   </div>
   <p class="top3"><%= image_tag 'question.png', class: "book_img" %>
   <div class="questionh">
     <%= link_to '質問広場', questions_path %></p>
   </div>
 </div>


 <p> <h2 class="text"><%=session[:login_user_acount] %>の現在のポイント数 </h2>
     <h2 class="point"><%= session[:login_user_point] %>P</h2>
</center>
