<p id="notice"><%= notice %></p>
<center>
       <h2>本の詳細</h2>
<p>
  <strong>書籍名:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>著者名:</strong>
  <%= @book.author_name %>
</p>

<p>
  <strong>分類番号:</strong>
  <%= @book.book_number %>
</p>
</center>
<%=form_tag('/show') do %>
  <%= hidden_field_tag :id, @book.id %>
  <select name="sort">
  <option value="created_at">新着順</option>
  <option value="good">good数多い順</option>
  </select>

  <%= submit_tag '検索' %>
<%end%>


<% @book_reviews.each do |c| %>
  <p>
   <%=c.user_acount %> <%= c.created_at.strftime('%Y/%m/%d') %>
  <br>
  <%= c.comment %>
  <br>
  <%= form_tag('/good_add') do %>
    <%= hidden_field :good, :book_review_code, :value => c.id %>
    <p>
    <%= submit_tag "　good" %><%= c.good %>
    </p>
  <% end %>
  </p>
<% end %>

<%= link_to '新規レビュー', new_book_review_path(book_id: @book.id, book_title: @book.title, book_author_name: @book.author_name, user_id: session[:login_id] ) %>
<%= link_to '削除', edit_book_path(@book) %> | 
<%= link_to '戻る', books_path %>
