<p id="notice"><%= notice %></p>

<p>
  <strong>書籍名:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>著者名:</strong>
  <%= @book.author_name %>
</p>

<p>
  <strong>分類番号:</strong>
  <%= @book.book_number %>
</p>


<%= link_to '削除', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
