<%= form_with(model: question_review) do |form| %>
  <% if question_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_review.errors.count, "error") %> prohibited this question_review from being saved:</h2>

      <ul>
        <% question_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :質問のタイトル %>
    <%= form.select :question_code, Question.all.map { |q| [q.title, q.id] } %>
  </div>

  <div class="field">
    <%= form.label :ユーザーＩＤ %>
    <%= form.number_field :user_code %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_field :contents %>
  </div>

  <div class="field">
    <%= form.label :best_flag %>
    <%= form.number_field :best_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
