<!DOCTYPE html>
<html>
  <head>
    <title>Acp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
    <% if session[:login_id].present? && session[:login_user_acount].present? %>
      <%= button_to 'ログアウト', {controller: 'home', action: 'logout'} ,{} %>
    <% end %>   
  </body>
</html>
