<!DOCTYPE html>
<html>
  <head>
    <title>Acp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
    <div class="fixed_bt">
      <% if session[:login_id].present? && session[:login_user_acount].present? %>
        <%= button_to 'ログアウト', {controller: 'home', action: 'logout'} ,{} %>
      <% end %>
    </div>   
  </body>
</html>
